.pfp-container {
  position: relative;
  display: inline-block;
}

.pfp-container img {
  display: block;
  max-width: 100%;
  height: auto;
  /* width: 15rem; */
  width: 300px;
}

.pfp-container .pfp-text {
  display: none;
}

.pfp-container:hover .pfp-text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.pfp-text a {
  color: white;
}

.row-container {
  max-width: 75% !important;
}

.row-title {
  max-width: 2500px !important;
}

.row-title div {
  max-width: 2300px !important;
}

.carousel-inner .card-img-top {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}

#featured-events img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* #show-top-artists {
  background-image: url("https://i.abcnewsfe.com/a/4c329958-dcca-42fc-9168-e43d74912c5f/taylor-swift-ap-jef-230517_1684339934408_hpEmbed_3x2.jpg");
  filter: blur(10px);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
} */

/* #show-top-artists {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    90deg,
    rgba(46, 133, 3, 1) -10%,
    rgb(255, 255, 255) 52%,
    rgba(46, 133, 3, 1) 110%
  );
} */
