{% extends 'base.html' %}

<!-- title -->
{% block title %}
<title>Homepage</title>
{% endblock %}

<!-- content -->
{% block content %} {% if user %} {% if artists %}
<h1>Hello {{user.username}}</h1>
<a href="/logout">logout</a>
<a href="/switch-accounts">Switch Accounts</a>

<div class="container">
  <ul>
    {% for artist in artists %}
    <li>{{artist}}</li>
    {% endfor %}
  </ul>
</div>

<a href="/artist-search">Search Ticketmaster</a>
{% else %}
<h1>Hello {{user.username}}</h1>
<a href="/connect-spotify">Connect Spotify Account</a>
<a href="/logout">logout</a>
{% endif %}{% else %}
<h1>Hello, you should login for a better experience</h1>
<a href="/login">Login</a>
<a href="/signup">Create an Account</a>
{% endif %} {% endblock %}
