{% extends 'base.html' %}

<!-- title -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- content -->
{% block content %}

<!-- Account Details -->
<div class="container-fluid">
  <h1>Hello {{user.username}}</h1>
  <a href="/user/details/{{user.username}}">Account</a>
  <!-- check spotify login -->
  {% if spot_login %}
  <a href="/switch-accounts">Switch Accounts</a>
  {% else %}
  <a href="/connect-spotify">Connect Spotify</a>
  {% endif %}
  <a href="/logout">logout</a>
</div>

<div class="container-fluid">
  <!-- Show Top Artists -->
  {% if top_artists %}
  <div class="container row-title mb-4">
    <h2 class="text-start">Top Artists</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="container row-container text-center">
    <div class="row justify-content-md-center">
      {% for artist in top_artists %}
      <div class="col col-sm-6 col-lg-2">
        <div>
          <span class="align-bottom fw-bold fs-1">{{artist['id']}}.</span>
          <img src="{{artist['img']}}" alt="" style="max-height: 200px" />
        </div>
        <p class="fs-4 ms-4">{{artist['name']}}</p>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="container row-title mb-4">
      <h2 class="text-start">
        Top Artists <small>(Connect Spotify to see)</small>
      </h2>
      <div class="border-bottom border-black"></div>
    </div>
    <div class="container row-container text-center">
      <div class="row justify-content-md-center">
        {% for artist in range(5) %}
        <div class="col col-sm-6 col-lg-2">
          <div>
            <span class="align-bottom fw-bold fs-1"
              >{{ loop.index }}{{ item }}.</span
            >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwoFiJiFNFd9HI4Ez177ayXT1aDEejtgyMJA&s"
              alt=""
              style="max-height: 200px"
            />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <!-- featured events -->
  <div class="container row-title mb-4">
    <h2 class="text-start">Picked Just For You</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="contaier" id="featured-events" style="min-height: 400px"></div>

  <!-- top artist events -->

  <div class="container row-title mb-4">
    <h2 class="text-start">My Top Artist's Events</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="container row-container">
    <div
      id="topArtistCardCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner" id="top-artist-list"></div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#topArtistCardCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#topArtistCardCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

  <!-- popular events -->
  <div class="container row-title mb-4">
    <h2 class="text-start">Popular Events</h2>
    <div class="border-bottom border-black"></div>
  </div>
  <div class="container row-container">
    <div
      id="popularCardCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        {% for event_group in all_events %}
        <div class="carousel-item {% if loop.first %} active {% endif %}">
          <div class="card-group">
            {% for event in event_group %}
            <div class="card">
              <img
                src="{{event.image}}"
                alt=""
                class="card-img-top"
                style="max-height: 230px"
              />
              <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.location}}</p>
                <p class="card-text">{{event.date}}</p>
                <a href="" class="btn btn-primary">Get tickets</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#popularCardCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  {% endblock %}
</div>
